In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

/home/knakul853/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/home/knakul853/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [7]:
df = pd.read_csv('Hiring.csv')
df

   Experiences  Test_Score  Interview_Score  Salary
0            0         8.0                9   50000
1            0         8.0                6   45000
2            5         6.0                7   60000
3            2        10.0               10   65000
4            7         9.0                6   70000
5            3         7.0               10   62000
6           10         NaN                7   72000
7           11         7.0                8   80000

In [8]:
import math
Test_Score_Median = math.floor(df.Test_Score.median())
Test_Score_Median

8

In [10]:
df.Test_Score = df.Test_Score.fillna(Test_Score_Median)

In [11]:
df

   Experiences  Test_Score  Interview_Score  Salary
0            0         8.0                9   50000
1            0         8.0                6   45000
2            5         6.0                7   60000
3            2        10.0               10   65000
4            7         9.0                6   70000
5            3         7.0               10   62000
6           10         8.0                7   72000
7           11         7.0                8   80000

In [13]:
reg = linear_model.LinearRegression()
reg.fit(df[['Experiences','Test_Score','Interview_Score']],df.Salary)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

# 2yr exp,9 test_score,6 interview_score

In [14]:
reg.predict([[2,9,6]])

array([53205.96797671])

# 12 yr exp, 10 test_Score , 10 interview_score

In [15]:
reg.predict([[12,10,10]])

array([92002.18340611])