In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

/home/knakul853/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/home/knakul853/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/home/knakul853/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
df = pd.read_csv('HomePrices.csv')
df

   Area  Bedrooms  Ages  Prices
0  2600       3.0    20  550000
1  3000       4.0    15  565000
2  3200       NaN    18  610000
3  3600       3.0    30  595000
4  4000       5.0     8  760000

In [5]:
import math
Bedrooms_median  = math.floor(df.Bedrooms.median())
Bedrooms_median

3

In [8]:
df.Bedrooms=df.Bedrooms.fillna(Bedrooms_median)

In [9]:
df

   Area  Bedrooms  Ages  Prices
0  2600       3.0    20  550000
1  3000       4.0    15  565000
2  3200       3.0    18  610000
3  3600       3.0    30  595000
4  4000       5.0     8  760000

In [11]:
reg = linear_model.LinearRegression()
reg.fit(df[['Area','Bedrooms','Ages']],df.Prices)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [12]:
reg.predict([[3000,3,40]])

array([444400.])

In [15]:
reg.coef_
reg.intercept_

383724.9999999998

In [16]:
reg.predict([[2500,4,5]])

array([588625.])